screen id="Microphone" width=276 height=240 theme="light" {
    grid cols="10px 256px 10px" rows="14px 104px 14px 104px 4px" gap=0 padding=0 {
        label id="left_label_slot" text="" col=1 row=0
        label id="left_waveform" text="" col=1 row=1
        label id="right_label_slot" text="" col=1 row=2
        label id="right_waveform" text="" col=1 row=3
    }
}
